In [1]:
# -*- coding: utf-8 -*-

### 기본 라이브러리 불러오기
import pandas as pd
import numpy as np

In [2]:
uci_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/\
breast-cancer-wisconsin/breast-cancer-wisconsin.data'

In [3]:
df = pd.read_csv(uci_path, header = None)
df

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [4]:
# 열 이름 지정
df.columns = ['id','clump','cell_size','cell_shape', 'adhesion','epithlial',
              'bare_nuclei','chromatin','normal_nucleoli', 'mitoses', 'class'] 

#  IPython 디스플레이 설정 - 출력할 열의 개수 한도 늘리기
pd.set_option('display.max_columns', 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               699 non-null    int64
 1   clump            699 non-null    int64
 2   cell_size        699 non-null    int64
 3   cell_shape       699 non-null    int64
 4   adhesion         699 non-null    int64
 5   epithlial        699 non-null    int64
 6   bare_nuclei      699 non-null    object
 7   chromatin        699 non-null    int64
 8   normal_nucleoli  699 non-null    int64
 9   mitoses          699 non-null    int64
 10  class            699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [6]:
df.describe()

,id,clump,cell_size,cell_shape,adhesion,epithlial,chromatin,normal_nucleoli,mitoses,class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [9]:
df['bare_nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [10]:
df['bare_nuclei'].replace('?',np.nan, inplace = True)
df.dropna(subset = ['bare_nuclei'], axis = 0, inplace = True)
df['bare_nuclei'] = df['bare_nuclei'].astype('int')

In [11]:
# 속성(변수) 선택
X=df[['clump','cell_size','cell_shape', 'adhesion','epithlial', 
      'bare_nuclei','chromatin','normal_nucleoli', 'mitoses']]  #설명 변수 X
y=df['class']                                                   #예측 변수 Y

In [13]:
# 설명변수 데이터 정규화
from sklearn.preprocessing import StandardScaler

X = StandardScaler().fit_transform(X)

In [14]:
# train data 와 test data로 구분(7:3 비율)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [15]:
X_train, X_train.shape

(array([[ 1.97177486,  0.6037398 ,  0.59763519, ...,  1.4522248 ,
          2.00965299,  0.22916583],
        [ 1.26222679,  2.23617957,  2.2718962 , ...,  2.67776377,
          2.33747554, -0.34839971],
        [ 0.55267873, -0.70221201, -0.74177362, ..., -0.18182716,
         -0.61292736, -0.34839971],
        ...,
        [ 0.19790469, -0.0492361 , -0.74177362, ..., -0.99885314,
         -0.61292736, -0.34839971],
        [-0.51164337, -0.70221201, -0.74177362, ..., -0.18182716,
         -0.61292736, -0.34839971],
        [ 0.90745276, -0.37572406,  0.26278299, ..., -0.18182716,
          0.04271773, -0.34839971]]),
 (478, 9))

In [16]:
from sklearn import tree

In [17]:
# 모형 생성
model = tree.DecisionTreeClassifier(criterion='entropy', max_depth = 5)

In [19]:
# train data로 모델 학습
model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [22]:
# test data로 예측, 분류
y_hat = model.predict(X_test)

In [23]:
# 모형 성능 평가 - Confusion Matrix 계산
from sklearn import metrics 
tree_matrix = metrics.confusion_matrix(y_test, y_hat)  
print(tree_matrix)
print('\n')

# 모형 성능 평가 - 평가지표 계산
tree_report = metrics.classification_report(y_test, y_hat)            
print(tree_report)

[[127   4]
 [  2  72]]


              precision    recall  f1-score   support

           2       0.98      0.97      0.98       131
           4       0.95      0.97      0.96        74

    accuracy                           0.97       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.97      0.97      0.97       205